@import "../../style.scss";

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  article {
    margin: 20px 0px;
    border: 1px solid red;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    background-color: $primary-color;
    section {
      .blog-img {
        width: 400px;
      }
    }
  }
}
