@import "../defaults/colors";
@import "../defaults/breakpoints";
@import "./utils";

header {
  @include background-stuff();

  .logo-name {
    @media screen and (max-width: $media) {
      margin-bottom: 48px;
    }

    img {
      width: 100px;
    }
    .name {
      font-size: 32px;

      .coder-text {
        color: #45a7c5;
      }

      .academy-text {
        color: #1c3c5c;
      }
    }
  }
  nav {
    display: flex;
    justify-content: space-around;
    font-size: 18px;

    a {
      text-decoration: none;
      color: rgb(21, 21, 255);
    }
  }
}

@media screen and (min-width: $media) {
  header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    .logo-name {
      .name {
        margin-bottom: 0;
      }
    }
    nav {
      width: 50%;
    }
  }
}
